@model Sell

@{
    ViewData["Title"] = "Details";
}
<div style="align-self:center; align-content:center; text-align:center">
<h2>İlan Detayları</h2>

<div>
    <h4>@Model.man.Name @Model.computer.ModelName</h4>
    <hr />
    <div class="satir">
        @Html.Label("İlan Veren : ")
        @Html.ValueFor(m => m.user.Name)
    </div>
    <div class="satir">
        @Html.Label("Fiyat : ")
        @Html.ValueFor(m => m.computer.Price) @Html.Label("TL")
    </div>
</div>
<div class="satir">
   --------------------------------------------
</div>

<div>

    <div class="satir">
        @Html.Label("Marka : ")
        @Html.ValueFor(m => m.man.Name)
    </div>
    <div class="satir">
        @Html.Label("Model : ")
        @Html.ValueFor(m => m.computer.ModelName)
    </div>
    <div class="satir">
        @Html.Label("Ekran Boyutu (inç) : ")
        @Html.ValueFor(m => m.computer.ScreenSize)
    </div>
    <div class="satir">
        @Html.Label("HDD Kapasitesi (GB) : ")
        @Html.ValueFor(m => m.computer.HDDSize)
    </div>
    <div class="satir">
        @Html.Label("SSD Kapasitesi (GB) : ")
        @Html.ValueFor(m => m.computer.SSDSize)
    </div>
    <div class="satir">
        @Html.Label("RAM Boyutu (GB) : ")
        @Html.ValueFor(m => m.computer.RAMSize)
    </div>
    <div class="satir">
        @Html.Label("İşlemci : ")
        @Html.ValueFor(m => m.cpu.Name)
    </div>
    <div class="satir">
        @Html.Label("CPU Mimarisi (nm) : ")
        @Html.ValueFor(m => m.cpu.Architecture)
    </div>
    <div class="satir">
        @Html.Label("İşlemci Frekansı (GHz) : ")
        @Html.ValueFor(m => m.cpu.Frequency)
    </div>
    <div class="satir">
        @Html.Label("Ekran Kartı : ")
        @Html.ValueFor(m => m.gpu.Name)
    </div>

    @if (Model.gpu.Name != "Paylaşımlı")
    {
        <div class="satir">
            @Html.Label("GPU Kapasitesi : ")
            @Html.ValueFor(m => m.gpu.Size)
        </div>

        <div class="satir">
            @Html.Label("GPU Bit Değeri : ")
            @Html.ValueFor(m => m.gpu.Bit)
        </div>
        <div class="satir">
            @Html.Label("GPU Gücü (Watt) : ")
            @Html.ValueFor(m => m.gpu.Power)
        </div>
    }
    <div class="satir">
        @Html.Label("Satın Alınma Yılı : ")
        @Html.ValueFor(m => m.computer.Year)
    </div>
    <div class="satir">
        
        <a asp-controller="Home" asp-action="Payment" asp-route-id="@Model.computer.ID" > Satın Al</a>
       
        <input type="submit" style="width:150px" value="Sepete Ekle" />
        <input type="button" style="width:150px" value="Karşılaştırmaya Ekle" />
    </div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@
    <br /> <a asp-action="Index"><< İlanlara Geri Dön</a>
</div>
</div>
